*/__pycache__/
*.pyc
.env
.venv/
app/observers/__pycache__/
app/observers/*.pyc
app/repositories/__pycache__/
app/repositories/*.pyc
app/services/__pycache__/
app/services/*.pyc
app/models/__pycache__/
app/models/*.pyc
tests/__pycache__/
tests/*.pyc
data/clinic.db
.pytest_cache/